<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #0077b6;
    }

    .form-container {
        box-shadow: 10 0 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 5px;
        padding: 10px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .submit-btn {
        width: 100%;
        padding: 10px;
        background-color: #0077b6;
        /* Button color */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .submit-btn:hover {
        background-color: #45a049;
    }
</style>

<body>

    <div class="form-container">
        <h2>Signup</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="username" id="name" placeholder="Enter your name ..." required
                    autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" placeholder="Enter your password ..." required>
            </div>
            <button type="submit" class="submit-btn">Signup</button>
        </form>
    </div>

</body>

</html>